# R(studio) ignorables
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Quarto Ignorables
/.quarto/
/_site/

# Mac Specific Files
.DS_Store

#firebase ignorables
/.firebase/
firebase-debug.log*
functions/node_modules/
**/*.quarto_ipynb
