/*-- scss:defaults --*/
$primary: #000D4D !default;
$secondary: #55CE58 !default;
$off_white: #F0F0F0 !default;



$h2-font-size:            1.6rem !default;
$web-font-path: "https://fonts.googleapis.com/css?family=Alice|Atkinson+Hyperlegible" !default;
@if $web-font-path {
  @import url($web-font-path);
};
$font-family-sans-serif:  Atkinson Hyperlegible;
$font-family: Atkinson Hyperlegible;
$headings-font-family: Atkinson Hyperlegible;

//$body-color: 
$link-color: $secondary;

//$success:       $green !default;
//$info:          $cyan !default;
//$warning:       $orange !default;
//$danger:        $purple !default;
//$light:         $white !default;
//$dark:          $gray-800 !default;

/*-- scss:rules --*/

#frame {
  border-style: solid;
  border-width: 3px;
  border-color: $primary;
  border-radius: 5px;
}


/* All of the Stylings for the Social Cards */

/* General Style for cards */
.fa {
  padding: 5px;
  font-size: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50px;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Linkedin Styling */
.fa-linkedin {
  background: #0a66c2;
  color: $white;
}

/* Github Styling */
.fa-github {
  background: #171515;
  color: $white;
} 

/* Intro Card */
.intro-card {
  line-height: 50px;
  text-align: center;
}